*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    font-size: 15px;
    color:black;
}

ul{
    list-style: none;
}


a{
    text-decoration: none;
    color:#262626;
}

.container{
    max-width: 1170px;
    width: 90%;
    margin: auto;   
}

/* navbar */
.main-nav{
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.main-nav ul{
  display: flex;
}

.main-nav ul li{
    padding: 10px;
}

.main-nav ul li a {
    padding-bottom: 2px;
  }

  .main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
  }

.logo{
    width: 110px;
}


/* utilities */
.btn{
    text-decoration: none;
    background-color: #262626;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border: 0;
    display: inline-block;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.btn:hover{
  opacity: 0.9;
}
.hamburger-menu{
    position: absolute;
    top: 20px;
    right: 30px;
    display: none;
    z-index: 2;
}
/* hero section */


.hero{
   width: 100%;
   height: 400px;
   background: url("./img/showcase.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   padding-bottom: 50px;
   text-align: center;
   margin-bottom: 20px;
}

.hero-title,.hero-desc{
    margin-bottom: 10px;
}

.hero-btn{
  margin-top: 20px;
}

/* home card */

.home-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    margin-bottom: 40px;
}

.home-card img{
    width: 100%;
    object-fit: cover;
}

.home-card p{
    margin: 10px 0 20px 0;
}

.home-card a{
    color: #2980b9;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

.home-card a:hover i{
   margin-left: 10px;
}

/* xbox */

.xbox{
    width: 100%;
    height: 350px;
    background: url("./img/xbox.png") no-repeat center center/cover;
    margin-bottom: 20px;
}

.content{
    width: 40%;
    padding: 100px 0px 0px 50px;
}

.content p, .carbon p{
    margin: 10px 0px 20px 0;
}

/* carbon */
.carbon{
    width: 100%;
    height: 350px;
    background: url('https://i.ibb.co/72cgtsz/carbon.jpg') no-repeat center center/cover;
    margin-bottom: 20px;
}

.carbon .content{
    width: 55%;
    padding: 100px 0px 0px 50px;
    color: white;
}

/* social */

.social{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.social img{
    height: 30px;
}

/* links */

.links, .footer{
    background-color: rgb(230, 229, 229);
}

.links-inner{
    padding: 50px 0px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.links li{
   padding: 10px 0;
}

/* footer */

.footer-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    font-size: 13px;
}

.footer-inner div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-inner ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-inner ul li{
    padding: 0px 10px;
}

@media screen and (max-width:768px){
    .hamburger-menu{
        display: block;
    }
    .main-nav .main-menu{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #f2f2f2;
        height: 100vh;
        width: 50%;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }

    .main-nav ul.main-menu.active{
        transform: translateX(-20px);
    }

    .main-nav .main-menu li{
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .main-nav .main-menu li:last-child{
        border-bottom: none;
    }

    .list li:last-child{
        border-bottom: none;
    }
    .home-card{
        grid-template-columns: repeat(2,1fr);
    }

    .xbox p{
        display: none;
    }

    .xbox h2{
        margin-bottom: 10px;
    }

    .carbon .content{
        width: 80%;
    }

    .links-inner{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 500px){
    .home-card{
        grid-template-columns: 1fr;
    }

    .links-inner{
        grid-template-columns: 1fr;
    }

   .links-inner ul {
        margin-bottom: 20px;
      }

    .xbox .content{
        padding-left: 25px;
    }

    .carbon .content{
        padding-left: 25px;
    }
}
